[data-page="certificados_solicitud_tr_4_edit"][data-itemid="edit_header"] {
  font-weight: bold;
  font-size: 22px;
  font-family: "Roboto";
}
[data-page="certificados_solicitud_tr_4_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


