<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel certificados_solicitud_tr_6 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sol_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="sol_id" data-fieldname="sol_id" >


	<label class="r-search-label control-label" for="{$labelfor_sol_id}">
		{$label certificados_solicitud_tr_6 sol_id }	</label>
	<div class="r-search-option">
		{$searchtype_sol_id}
	</div>
	<div class="r-search-field">
		{$sol_id_editcontrol}	</div>
	<div class="r-search-field">
		{$sol_id_editcontrol1}
	</div>
	
</div>

{END sol_id_fieldblock}
											
{BEGIN ID_FK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ID_FK}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ID_FK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ID_FK" data-fieldname="ID_FK" >


	<label class="r-search-label control-label" for="{$labelfor_ID_FK}">
		{$label certificados_solicitud_tr_6 ID_FK }	</label>
	<div class="r-search-option">
		{$searchtype_ID_FK}
	</div>
	<div class="r-search-field">
		{$ID_FK_editcontrol}	</div>
	<div class="r-search-field">
		{$ID_FK_editcontrol1}
	</div>
	
</div>

{END ID_FK_fieldblock}
											
{BEGIN nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="nombre" data-fieldname="nombre" >


	<label class="r-search-label control-label" for="{$labelfor_nombre}">
		{$label certificados_solicitud_tr_6 nombre }	</label>
	<div class="r-search-option">
		{$searchtype_nombre}
	</div>
	<div class="r-search-field">
		{$nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_editcontrol1}
	</div>
	
</div>

{END nombre_fieldblock}
											
{BEGIN primer_apellido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_primer_apellido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="primer_apellido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="primer_apellido" data-fieldname="primer_apellido" >


	<label class="r-search-label control-label" for="{$labelfor_primer_apellido}">
		{$label certificados_solicitud_tr_6 primer_apellido }	</label>
	<div class="r-search-option">
		{$searchtype_primer_apellido}
	</div>
	<div class="r-search-field">
		{$primer_apellido_editcontrol}	</div>
	<div class="r-search-field">
		{$primer_apellido_editcontrol1}
	</div>
	
</div>

{END primer_apellido_fieldblock}
											
{BEGIN segundo_apellido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_segundo_apellido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="segundo_apellido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="segundo_apellido" data-fieldname="segundo_apellido" >


	<label class="r-search-label control-label" for="{$labelfor_segundo_apellido}">
		{$label certificados_solicitud_tr_6 segundo_apellido }	</label>
	<div class="r-search-option">
		{$searchtype_segundo_apellido}
	</div>
	<div class="r-search-field">
		{$segundo_apellido_editcontrol}	</div>
	<div class="r-search-field">
		{$segundo_apellido_editcontrol1}
	</div>
	
</div>

{END segundo_apellido_fieldblock}
											
{BEGIN tipo_documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_documento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="tipo_documento" data-fieldname="tipo_documento" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_documento}">
		{$label certificados_solicitud_tr_6 tipo_documento }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_documento}
	</div>
	<div class="r-search-field">
		{$tipo_documento_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_documento_editcontrol1}
	</div>
	
</div>

{END tipo_documento_fieldblock}
											
{BEGIN numero_documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_documento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="numero_documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="numero_documento" data-fieldname="numero_documento" >


	<label class="r-search-label control-label" for="{$labelfor_numero_documento}">
		{$label certificados_solicitud_tr_6 numero_documento }	</label>
	<div class="r-search-option">
		{$searchtype_numero_documento}
	</div>
	<div class="r-search-field">
		{$numero_documento_editcontrol}	</div>
	<div class="r-search-field">
		{$numero_documento_editcontrol1}
	</div>
	
</div>

{END numero_documento_fieldblock}
											
{BEGIN telefono_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="telefono{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="telefono" data-fieldname="telefono" >


	<label class="r-search-label control-label" for="{$labelfor_telefono}">
		{$label certificados_solicitud_tr_6 telefono }	</label>
	<div class="r-search-option">
		{$searchtype_telefono}
	</div>
	<div class="r-search-field">
		{$telefono_editcontrol}	</div>
	<div class="r-search-field">
		{$telefono_editcontrol1}
	</div>
	
</div>

{END telefono_fieldblock}
											
{BEGIN departamento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_departamento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="departamento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="departamento" data-fieldname="departamento" >


	<label class="r-search-label control-label" for="{$labelfor_departamento}">
		{$label certificados_solicitud_tr_6 departamento }	</label>
	<div class="r-search-option">
		{$searchtype_departamento}
	</div>
	<div class="r-search-field">
		{$departamento_editcontrol}	</div>
	<div class="r-search-field">
		{$departamento_editcontrol1}
	</div>
	
</div>

{END departamento_fieldblock}
											
{BEGIN municipio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_municipio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="municipio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="municipio" data-fieldname="municipio" >


	<label class="r-search-label control-label" for="{$labelfor_municipio}">
		{$label certificados_solicitud_tr_6 municipio }	</label>
	<div class="r-search-option">
		{$searchtype_municipio}
	</div>
	<div class="r-search-field">
		{$municipio_editcontrol}	</div>
	<div class="r-search-field">
		{$municipio_editcontrol1}
	</div>
	
</div>

{END municipio_fieldblock}
											
{BEGIN direccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_direccion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="direccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="direccion" data-fieldname="direccion" >


	<label class="r-search-label control-label" for="{$labelfor_direccion}">
		{$label certificados_solicitud_tr_6 direccion }	</label>
	<div class="r-search-option">
		{$searchtype_direccion}
	</div>
	<div class="r-search-field">
		{$direccion_editcontrol}	</div>
	<div class="r-search-field">
		{$direccion_editcontrol1}
	</div>
	
</div>

{END direccion_fieldblock}
											
{BEGIN cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="cargo" data-fieldname="cargo" >


	<label class="r-search-label control-label" for="{$labelfor_cargo}">
		{$label certificados_solicitud_tr_6 cargo }	</label>
	<div class="r-search-option">
		{$searchtype_cargo}
	</div>
	<div class="r-search-field">
		{$cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$cargo_editcontrol1}
	</div>
	
</div>

{END cargo_fieldblock}
											
{BEGIN email_contacto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_contacto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email_contacto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="email_contacto" data-fieldname="email_contacto" >


	<label class="r-search-label control-label" for="{$labelfor_email_contacto}">
		{$label certificados_solicitud_tr_6 email_contacto }	</label>
	<div class="r-search-option">
		{$searchtype_email_contacto}
	</div>
	<div class="r-search-field">
		{$email_contacto_editcontrol}	</div>
	<div class="r-search-field">
		{$email_contacto_editcontrol1}
	</div>
	
</div>

{END email_contacto_fieldblock}
											
{BEGIN email_contacto_c_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_contacto_c}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email_contacto_c{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="email_contacto_c" data-fieldname="email_contacto_c" >


	<label class="r-search-label control-label" for="{$labelfor_email_contacto_c}">
		{$label certificados_solicitud_tr_6 email_contacto_c }	</label>
	<div class="r-search-option">
		{$searchtype_email_contacto_c}
	</div>
	<div class="r-search-field">
		{$email_contacto_c_editcontrol}	</div>
	<div class="r-search-field">
		{$email_contacto_c_editcontrol1}
	</div>
	
</div>

{END email_contacto_c_fieldblock}
											
{BEGIN token_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_token_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="token_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="token_id" data-fieldname="token_id" >


	<label class="r-search-label control-label" for="{$labelfor_token_id}">
		{$label certificados_solicitud_tr_6 token_id }	</label>
	<div class="r-search-option">
		{$searchtype_token_id}
	</div>
	<div class="r-search-field">
		{$token_id_editcontrol}	</div>
	<div class="r-search-field">
		{$token_id_editcontrol1}
	</div>
	
</div>

{END token_id_fieldblock}
											
{BEGIN sol_ticket_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_ticket}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sol_ticket{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="sol_ticket" data-fieldname="sol_ticket" >


	<label class="r-search-label control-label" for="{$labelfor_sol_ticket}">
		{$label certificados_solicitud_tr_6 sol_ticket }	</label>
	<div class="r-search-option">
		{$searchtype_sol_ticket}
	</div>
	<div class="r-search-field">
		{$sol_ticket_editcontrol}	</div>
	<div class="r-search-field">
		{$sol_ticket_editcontrol1}
	</div>
	
</div>

{END sol_ticket_fieldblock}
											
{BEGIN cert_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="cert_id" data-fieldname="cert_id" >


	<label class="r-search-label control-label" for="{$labelfor_cert_id}">
		{$label certificados_solicitud_tr_6 cert_id }	</label>
	<div class="r-search-option">
		{$searchtype_cert_id}
	</div>
	<div class="r-search-field">
		{$cert_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_id_editcontrol1}
	</div>
	
</div>

{END cert_id_fieldblock}
											
{BEGIN vigencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="vigencia" data-fieldname="vigencia" >


	<label class="r-search-label control-label" for="{$labelfor_vigencia}">
		{$label certificados_solicitud_tr_6 vigencia }	</label>
	<div class="r-search-option">
		{$searchtype_vigencia}
	</div>
	<div class="r-search-field">
		{$vigencia_editcontrol}	</div>
	<div class="r-search-field">
		{$vigencia_editcontrol1}
	</div>
	
</div>

{END vigencia_fieldblock}
											
{BEGIN stage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_stage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="stage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="stage" data-fieldname="stage" >


	<label class="r-search-label control-label" for="{$labelfor_stage}">
		{$label certificados_solicitud_tr_6 stage }	</label>
	<div class="r-search-option">
		{$searchtype_stage}
	</div>
	<div class="r-search-field">
		{$stage_editcontrol}	</div>
	<div class="r-search-field">
		{$stage_editcontrol1}
	</div>
	
</div>

{END stage_fieldblock}
											
{BEGIN stage_tk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_stage_tk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="stage_tk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="stage_tk" data-fieldname="stage_tk" >


	<label class="r-search-label control-label" for="{$labelfor_stage_tk}">
		{$label certificados_solicitud_tr_6 stage_tk }	</label>
	<div class="r-search-option">
		{$searchtype_stage_tk}
	</div>
	<div class="r-search-field">
		{$stage_tk_editcontrol}	</div>
	<div class="r-search-field">
		{$stage_tk_editcontrol1}
	</div>
	
</div>

{END stage_tk_fieldblock}
											
{BEGIN doc_acta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_acta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_acta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="doc_acta" data-fieldname="doc_acta" >


	<label class="r-search-label control-label" for="{$labelfor_doc_acta}">
		{$label certificados_solicitud_tr_6 doc_acta }	</label>
	<div class="r-search-option">
		{$searchtype_doc_acta}
	</div>
	<div class="r-search-field">
		{$doc_acta_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_acta_editcontrol1}
	</div>
	
</div>

{END doc_acta_fieldblock}
											
{BEGIN doc_carta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_carta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_carta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="doc_carta" data-fieldname="doc_carta" >


	<label class="r-search-label control-label" for="{$labelfor_doc_carta}">
		{$label certificados_solicitud_tr_6 doc_carta }	</label>
	<div class="r-search-option">
		{$searchtype_doc_carta}
	</div>
	<div class="r-search-field">
		{$doc_carta_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_carta_editcontrol1}
	</div>
	
</div>

{END doc_carta_fieldblock}
											
{BEGIN doc_certificado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_certificado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_certificado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="doc_certificado" data-fieldname="doc_certificado" >


	<label class="r-search-label control-label" for="{$labelfor_doc_certificado}">
		{$label certificados_solicitud_tr_6 doc_certificado }	</label>
	<div class="r-search-option">
		{$searchtype_doc_certificado}
	</div>
	<div class="r-search-field">
		{$doc_certificado_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_certificado_editcontrol1}
	</div>
	
</div>

{END doc_certificado_fieldblock}
											
{BEGIN doc_poder_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_poder}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_poder{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="doc_poder" data-fieldname="doc_poder" >


	<label class="r-search-label control-label" for="{$labelfor_doc_poder}">
		{$label certificados_solicitud_tr_6 doc_poder }	</label>
	<div class="r-search-option">
		{$searchtype_doc_poder}
	</div>
	<div class="r-search-field">
		{$doc_poder_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_poder_editcontrol1}
	</div>
	
</div>

{END doc_poder_fieldblock}
											
{BEGIN doc_rut_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_rut}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_rut{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="doc_rut" data-fieldname="doc_rut" >


	<label class="r-search-label control-label" for="{$labelfor_doc_rut}">
		{$label certificados_solicitud_tr_6 doc_rut }	</label>
	<div class="r-search-option">
		{$searchtype_doc_rut}
	</div>
	<div class="r-search-field">
		{$doc_rut_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_rut_editcontrol1}
	</div>
	
</div>

{END doc_rut_fieldblock}
											
{BEGIN doc_cedula_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_cedula}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_cedula{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="doc_cedula" data-fieldname="doc_cedula" >


	<label class="r-search-label control-label" for="{$labelfor_doc_cedula}">
		{$label certificados_solicitud_tr_6 doc_cedula }	</label>
	<div class="r-search-option">
		{$searchtype_doc_cedula}
	</div>
	<div class="r-search-field">
		{$doc_cedula_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_cedula_editcontrol1}
	</div>
	
</div>

{END doc_cedula_fieldblock}
											
{BEGIN doc_escritura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_escritura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_escritura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="doc_escritura" data-fieldname="doc_escritura" >


	<label class="r-search-label control-label" for="{$labelfor_doc_escritura}">
		{$label certificados_solicitud_tr_6 doc_escritura }	</label>
	<div class="r-search-option">
		{$searchtype_doc_escritura}
	</div>
	<div class="r-search-field">
		{$doc_escritura_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_escritura_editcontrol1}
	</div>
	
</div>

{END doc_escritura_fieldblock}
											
{BEGIN track_msj_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_msj}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_msj{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="track_msj" data-fieldname="track_msj" >


	<label class="r-search-label control-label" for="{$labelfor_track_msj}">
		{$label certificados_solicitud_tr_6 track_msj }	</label>
	<div class="r-search-option">
		{$searchtype_track_msj}
	</div>
	<div class="r-search-field">
		{$track_msj_editcontrol}	</div>
	<div class="r-search-field">
		{$track_msj_editcontrol1}
	</div>
	
</div>

{END track_msj_fieldblock}
											
{BEGIN track_usr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_usr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_usr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="track_usr" data-fieldname="track_usr" >


	<label class="r-search-label control-label" for="{$labelfor_track_usr}">
		{$label certificados_solicitud_tr_6 track_usr }	</label>
	<div class="r-search-option">
		{$searchtype_track_usr}
	</div>
	<div class="r-search-field">
		{$track_usr_editcontrol}	</div>
	<div class="r-search-field">
		{$track_usr_editcontrol1}
	</div>
	
</div>

{END track_usr_fieldblock}
											
{BEGIN track_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="track_date" data-fieldname="track_date" >


	<label class="r-search-label control-label" for="{$labelfor_track_date}">
		{$label certificados_solicitud_tr_6 track_date }	</label>
	<div class="r-search-option">
		{$searchtype_track_date}
	</div>
	<div class="r-search-field">
		{$track_date_editcontrol}	</div>
	<div class="r-search-field">
		{$track_date_editcontrol1}
	</div>
	
</div>

{END track_date_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
