<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-rprint" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Certificados Solicitud Report.pdf" 
data-pagesize="LETTER" 
data-pagetype="rprint" 
{$pdflink_attrs} >
							Vista PDF			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel certificados_solicitud_Report rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
			td.group_1{
			background-color: #90EE90;
		}
		td.nbgroup_1{
			background-color: #90EE90;
		}
		td.header_1 {
			background-color: #90EE90; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #ADD8E6;
		}
		td.nbgroup_2{
			background-color: #ADD8E6;
		}
		td.header_2 {
			background-color: #ADD8E6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.fieldnamesrow > * 
	{
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
						


<table class="table table-hover table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>			
{BEGIN grid_row}
				<!--  group headers -->
							{BEGIN ID_FK_newgroup}							
		<tr class="group-spliter-1"  >
			<td class="header_1" colspan="18">
				{$label certificados_solicitud_Report ID_FK }:&nbsp;
				{$xID_FK_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field" {$item_report_group_field} data-pageid="{$pageid}" data-field="ID_FK" data-fieldname="ID_FK" >
{$ID_FK_grval}
</span>			</td>
		</tr>
		
				{END ID_FK_newgroup}
							{BEGIN stage_newgroup}							
		<tr class="group-spliter-2"  >
			<td class="header_2" colspan="18">
				{$label certificados_solicitud_Report stage }:&nbsp;
				{$xstage_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field1" {$item_report_group_field1} data-pageid="{$pageid}" data-field="stage" data-fieldname="stage" >
{$stage_grval}
</span>			</td>
		</tr>
		
				<tr class="fieldnamesrow group-headers">
																								<td class="blackshade {$fieldclass_sol_id}">{$label certificados_solicitud_Report sol_id }</td>
														<td class="blackshade {$fieldclass_nombre}">{$label certificados_solicitud_Report nombre }</td>
														<td class="blackshade {$fieldclass_primer_apellido}">{$label certificados_solicitud_Report primer_apellido }</td>
														<td class="blackshade {$fieldclass_segundo_apellido}">{$label certificados_solicitud_Report segundo_apellido }</td>
														<td class="blackshade {$fieldclass_tipo_documento}">{$label certificados_solicitud_Report tipo_documento }</td>
														<td class="blackshade {$fieldclass_numero_documento}">{$label certificados_solicitud_Report numero_documento }</td>
														<td class="blackshade {$fieldclass_telefono}">{$label certificados_solicitud_Report telefono }</td>
														<td class="blackshade {$fieldclass_departamento}">{$label certificados_solicitud_Report departamento }</td>
														<td class="blackshade {$fieldclass_municipio}">{$label certificados_solicitud_Report municipio }</td>
														<td class="blackshade {$fieldclass_direccion}">{$label certificados_solicitud_Report direccion }</td>
														<td class="blackshade {$fieldclass_cargo}">{$label certificados_solicitud_Report cargo }</td>
														<td class="blackshade {$fieldclass_email_contacto}">{$label certificados_solicitud_Report email_contacto }</td>
														<td class="blackshade {$fieldclass_token_id}">{$label certificados_solicitud_Report token_id }</td>
														<td class="blackshade {$fieldclass_cert_id}">{$label certificados_solicitud_Report cert_id }</td>
														<td class="blackshade {$fieldclass_vigencia}">{$label certificados_solicitud_Report vigencia }</td>
														<td class="blackshade {$fieldclass_stage_tk}">{$label certificados_solicitud_Report stage_tk }</td>
														<td class="blackshade {$fieldclass_tl_fecha_f}">{$label certificados_solicitud_Report tl_fecha_f }</td>
														<td class="blackshade {$fieldclass_dep}">{$label certificados_solicitud_Report dep }</td>
									</tr>
				{END stage_newgroup}
		

			<!--  data-->
		{BEGIN row_data}
		<tr >
																																				<td class="data {$fieldclass_sol_id}">
			{$xsol_id_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="sol_id" data-fieldname="sol_id" >
{$sol_id_value}
</span>

			</td>
																		<td class="data {$fieldclass_nombre}">
			{$xnombre_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field3" {$item_report_grid_field3} data-pageid="{$pageid}" data-field="nombre" data-fieldname="nombre" >
{$nombre_value}
</span>

			</td>
																		<td class="data {$fieldclass_primer_apellido}">
			{$xprimer_apellido_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field4" {$item_report_grid_field4} data-pageid="{$pageid}" data-field="primer_apellido" data-fieldname="primer_apellido" >
{$primer_apellido_value}
</span>

			</td>
																		<td class="data {$fieldclass_segundo_apellido}">
			{$xsegundo_apellido_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field5" {$item_report_grid_field5} data-pageid="{$pageid}" data-field="segundo_apellido" data-fieldname="segundo_apellido" >
{$segundo_apellido_value}
</span>

			</td>
																		<td class="data {$fieldclass_tipo_documento}">
			{$xtipo_documento_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field6" {$item_report_grid_field6} data-pageid="{$pageid}" data-field="tipo_documento" data-fieldname="tipo_documento" >
{$tipo_documento_value}
</span>

			</td>
																		<td class="data {$fieldclass_numero_documento}">
			{$xnumero_documento_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field7" {$item_report_grid_field7} data-pageid="{$pageid}" data-field="numero_documento" data-fieldname="numero_documento" >
{$numero_documento_value}
</span>

			</td>
																		<td class="data {$fieldclass_telefono}">
			{$xtelefono_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field8" {$item_report_grid_field8} data-pageid="{$pageid}" data-field="telefono" data-fieldname="telefono" >
{$telefono_value}
</span>

			</td>
																		<td class="data {$fieldclass_departamento}">
			{$xdepartamento_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field9" {$item_report_grid_field9} data-pageid="{$pageid}" data-field="departamento" data-fieldname="departamento" >
{$departamento_value}
</span>

			</td>
																		<td class="data {$fieldclass_municipio}">
			{$xmunicipio_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="municipio" data-fieldname="municipio" >
{$municipio_value}
</span>

			</td>
																		<td class="data {$fieldclass_direccion}">
			{$xdireccion_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field11" {$item_report_grid_field11} data-pageid="{$pageid}" data-field="direccion" data-fieldname="direccion" >
{$direccion_value}
</span>

			</td>
																		<td class="data {$fieldclass_cargo}">
			{$xcargo_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field12" {$item_report_grid_field12} data-pageid="{$pageid}" data-field="cargo" data-fieldname="cargo" >
{$cargo_value}
</span>

			</td>
																		<td class="data {$fieldclass_email_contacto}">
			{$xemail_contacto_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field13" {$item_report_grid_field13} data-pageid="{$pageid}" data-field="email_contacto" data-fieldname="email_contacto" >
{$email_contacto_value}
</span>

			</td>
																		<td class="data {$fieldclass_token_id}">
			{$xtoken_id_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field15" {$item_report_grid_field15} data-pageid="{$pageid}" data-field="token_id" data-fieldname="token_id" >
{$token_id_value}
</span>

			</td>
																		<td class="data {$fieldclass_cert_id}">
			{$xcert_id_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field16" {$item_report_grid_field16} data-pageid="{$pageid}" data-field="cert_id" data-fieldname="cert_id" >
{$cert_id_value}
</span>

			</td>
																		<td class="data {$fieldclass_vigencia}">
			{$xvigencia_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field17" {$item_report_grid_field17} data-pageid="{$pageid}" data-field="vigencia" data-fieldname="vigencia" >
{$vigencia_value}
</span>

			</td>
																		<td class="data {$fieldclass_stage_tk}">
			{$xstage_tk_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field19" {$item_report_grid_field19} data-pageid="{$pageid}" data-field="stage_tk" data-fieldname="stage_tk" >
{$stage_tk_value}
</span>

			</td>
																		<td class="data {$fieldclass_tl_fecha_f}">
			{$xtl_fecha_f_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field31" {$item_report_grid_field31} data-pageid="{$pageid}" data-field="tl_fecha_f" data-fieldname="tl_fecha_f" >
{$tl_fecha_f_value}
</span>

			</td>
																		<td class="data {$fieldclass_dep}">
			{$xdep_value}
			<span data-itemtype="report_grid_field" data-itemid="report_grid_field2" {$item_report_grid_field2} data-pageid="{$pageid}" data-field="dep" data-fieldname="dep" >
{$dep_value}
</span>

			</td>
									</tr>
		{END row_data}
	
	<!---  group summary-->
					{BEGIN stage_endgroup}

		<tr >
					<td class="group_2" colspan="18">
				Resumen de {$label certificados_solicitud_Report stage } {$stage_grval} - <span class="summary-2" data-type="summary">
					{$groupstage_total_cnt}
				</span> Registros totales			</td>			
				</tr>
		
		
		
		
			

		{END stage_endgroup}
							{BEGIN ID_FK_endgroup}

		<tr >
					<td class="group_1" colspan="18">
				Resumen de {$label certificados_solicitud_Report ID_FK } {$ID_FK_grval} - <span class="summary-1" data-type="summary">
					{$groupID_FK_total_cnt}
				</span> Registros totales			</td>			
				</tr>
		
		
		
		
			

		{END ID_FK_endgroup}
			
{END grid_row}

	{BEGIN summary_header}
	<tr class="summary-header">
						
						
							<td class="blackshade {$fieldclass_sol_id}">{$label certificados_solicitud_Report sol_id }</td>
				
							<td class="blackshade {$fieldclass_nombre}">{$label certificados_solicitud_Report nombre }</td>
				
							<td class="blackshade {$fieldclass_primer_apellido}">{$label certificados_solicitud_Report primer_apellido }</td>
				
							<td class="blackshade {$fieldclass_segundo_apellido}">{$label certificados_solicitud_Report segundo_apellido }</td>
				
							<td class="blackshade {$fieldclass_tipo_documento}">{$label certificados_solicitud_Report tipo_documento }</td>
				
							<td class="blackshade {$fieldclass_numero_documento}">{$label certificados_solicitud_Report numero_documento }</td>
				
							<td class="blackshade {$fieldclass_telefono}">{$label certificados_solicitud_Report telefono }</td>
				
							<td class="blackshade {$fieldclass_departamento}">{$label certificados_solicitud_Report departamento }</td>
				
							<td class="blackshade {$fieldclass_municipio}">{$label certificados_solicitud_Report municipio }</td>
				
							<td class="blackshade {$fieldclass_direccion}">{$label certificados_solicitud_Report direccion }</td>
				
							<td class="blackshade {$fieldclass_cargo}">{$label certificados_solicitud_Report cargo }</td>
				
							<td class="blackshade {$fieldclass_email_contacto}">{$label certificados_solicitud_Report email_contacto }</td>
				
							<td class="blackshade {$fieldclass_token_id}">{$label certificados_solicitud_Report token_id }</td>
				
							<td class="blackshade {$fieldclass_cert_id}">{$label certificados_solicitud_Report cert_id }</td>
				
							<td class="blackshade {$fieldclass_vigencia}">{$label certificados_solicitud_Report vigencia }</td>
				
							<td class="blackshade {$fieldclass_stage_tk}">{$label certificados_solicitud_Report stage_tk }</td>
				
							<td class="blackshade {$fieldclass_tl_fecha_f}">{$label certificados_solicitud_Report tl_fecha_f }</td>
				
							<td class="blackshade {$fieldclass_dep}">{$label certificados_solicitud_Report dep }</td>
				
			
	</tr>
	{END summary_header}			




    
    
    {BEGIN page_summary}
    <!-- page summary-->
    <tr class="summaryrow summary-page">
        <td class="pagesummary" colspan="20">Resumen de la pagina            <span class="page-summary" data-type="summary">{$page_total_cnt}</span> - Registros totales        </td>
    </tr>
	
	
	
	    {END page_summary}

	<!-- global summary-->
	{BEGIN global_summary}
    <tr class="summaryrow summary-global">
        <td class="globalsummary" colspan="20">
            Resumen global {$global_total_cnt} - Registros totales        </td>
    </tr>

	
	
	
		{END global_summary}

	</tbody>
</table>			</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
