<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel certificados_solicitud_track search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN track_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="track_id" data-fieldname="track_id" >


	<label class="r-search-label control-label" for="{$labelfor_track_id}">
		{$label certificados_solicitud_track track_id }	</label>
	<div class="r-search-option">
		{$searchtype_track_id}
	</div>
	<div class="r-search-field">
		{$track_id_editcontrol}	</div>
	<div class="r-search-field">
		{$track_id_editcontrol1}
	</div>
	
</div>

{END track_id_fieldblock}
											
{BEGIN sol_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sol_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="sol_id_fk" data-fieldname="sol_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_sol_id_fk}">
		{$label certificados_solicitud_track sol_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_sol_id_fk}
	</div>
	<div class="r-search-field">
		{$sol_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$sol_id_fk_editcontrol1}
	</div>
	
</div>

{END sol_id_fk_fieldblock}
											
{BEGIN track_msj_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_msj}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_msj{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="track_msj" data-fieldname="track_msj" >


	<label class="r-search-label control-label" for="{$labelfor_track_msj}">
		{$label certificados_solicitud_track track_msj }	</label>
	<div class="r-search-option">
		{$searchtype_track_msj}
	</div>
	<div class="r-search-field">
		{$track_msj_editcontrol}	</div>
	<div class="r-search-field">
		{$track_msj_editcontrol1}
	</div>
	
</div>

{END track_msj_fieldblock}
											
{BEGIN track_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="track_date" data-fieldname="track_date" >


	<label class="r-search-label control-label" for="{$labelfor_track_date}">
		{$label certificados_solicitud_track track_date }	</label>
	<div class="r-search-option">
		{$searchtype_track_date}
	</div>
	<div class="r-search-field">
		{$track_date_editcontrol}	</div>
	<div class="r-search-field">
		{$track_date_editcontrol1}
	</div>
	
</div>

{END track_date_fieldblock}
											
{BEGIN track_usr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_track_usr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="track_usr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="track_usr" data-fieldname="track_usr" >


	<label class="r-search-label control-label" for="{$labelfor_track_usr}">
		{$label certificados_solicitud_track track_usr }	</label>
	<div class="r-search-option">
		{$searchtype_track_usr}
	</div>
	<div class="r-search-field">
		{$track_usr_editcontrol}	</div>
	<div class="r-search-field">
		{$track_usr_editcontrol1}
	</div>
	
</div>

{END track_usr_fieldblock}
											
{BEGIN stage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_stage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="stage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="stage" data-fieldname="stage" >


	<label class="r-search-label control-label" for="{$labelfor_stage}">
		{$label certificados_solicitud_track stage }	</label>
	<div class="r-search-option">
		{$searchtype_stage}
	</div>
	<div class="r-search-field">
		{$stage_editcontrol}	</div>
	<div class="r-search-field">
		{$stage_editcontrol1}
	</div>
	
</div>

{END stage_fieldblock}
											
{BEGIN SysDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SysDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SysDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="SysDate" data-fieldname="SysDate" >


	<label class="r-search-label control-label" for="{$labelfor_SysDate}">
		{$label certificados_solicitud_track SysDate }	</label>
	<div class="r-search-option">
		{$searchtype_SysDate}
	</div>
	<div class="r-search-field">
		{$SysDate_editcontrol}	</div>
	<div class="r-search-field">
		{$SysDate_editcontrol1}
	</div>
	
</div>

{END SysDate_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
