<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel certificados_solicitud_tr_0 view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}" data-page="certificados_solicitud_tr_0_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Información de token				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Información del solicitante				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Anexos				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					Última actividad				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_id}  r-vertical-field" data-fieldname="sol_id" data-signal-error-for="sol_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="sol_id" data-fieldname="sol_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_id}">
		
		{BEGIN sol_id_label}{$label certificados_solicitud_tr_0 sol_id }{END sol_id_label}
	</label>
	<div class="" >
		{$sol_id_value}	</div>

		</div>
		
</div>


{END sol_id_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_FK_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ID_FK}  r-vertical-field" data-fieldname="ID_FK" data-signal-error-for="ID_FK{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="ID_FK" data-fieldname="ID_FK" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ID_FK}">
		
		{BEGIN ID_FK_label}{$label certificados_solicitud_tr_0 ID_FK }{END ID_FK_label}
	</label>
	<div class="" >
		{$ID_FK_value}	</div>

		</div>
		
</div>


{END ID_FK_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c10}
<td
	{$cell_section_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sol_ticket_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_ticket}  r-vertical-field" data-fieldname="sol_ticket" data-signal-error-for="sol_ticket{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="sol_ticket" data-fieldname="sol_ticket" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sol_ticket}">
		
		{BEGIN sol_ticket_label}{$label certificados_solicitud_tr_0 sol_ticket }{END sol_ticket_label}
	</label>
	<div class="" >
		{$sol_ticket_value}	</div>

		</div>
		
</div>


{END sol_ticket_fieldblock}
	
								</td>
			{END cellblock_section_c10}
			 
																

{BEGIN cellblock_section_c11}
<td
	{$cell_section_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN token_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_token_id}  r-vertical-field" data-fieldname="token_id" data-signal-error-for="token_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="token_id" data-fieldname="token_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_token_id}">
		
		{BEGIN token_id_label}{$label certificados_solicitud_tr_0 token_id }{END token_id_label}
	</label>
	<div class="" >
		{$token_id_value}	</div>

		</div>
		
</div>


{END token_id_fieldblock}
	
								</td>
			{END cellblock_section_c11}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c8}
<td
	{$cell_section_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cert_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_id}  r-vertical-field" data-fieldname="cert_id" data-signal-error-for="cert_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="cert_id" data-fieldname="cert_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cert_id}">
		
		{BEGIN cert_id_label}{$label certificados_solicitud_tr_0 cert_id }{END cert_id_label}
	</label>
	<div class="" >
		{$cert_id_value}	</div>

		</div>
		
</div>


{END cert_id_fieldblock}
	
								</td>
			{END cellblock_section_c8}
			 
																

{BEGIN cellblock_section_c9}
<td
	{$cell_section_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN vigencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_vigencia}  r-vertical-field" data-fieldname="vigencia" data-signal-error-for="vigencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="vigencia" data-fieldname="vigencia" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_vigencia}">
		
		{BEGIN vigencia_label}{$label certificados_solicitud_tr_0 vigencia }{END vigencia_label}
	</label>
	<div class="" >
		{$vigencia_value}	</div>

		</div>
		
</div>


{END vigencia_fieldblock}
	
								</td>
			{END cellblock_section_c9}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c12}
<td
	{$cell_section1_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN nombre_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre}  r-vertical-field" data-fieldname="nombre" data-signal-error-for="nombre{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="nombre" data-fieldname="nombre" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_nombre}">
		
		{BEGIN nombre_label}{$label certificados_solicitud_tr_0 nombre }{END nombre_label}
	</label>
	<div class="" >
		{$nombre_value}	</div>

		</div>
		
</div>


{END nombre_fieldblock}
	
								</td>
			{END cellblock_section1_c12}
			 
		
							

{BEGIN cellblock_section1_c13}
<td
	{$cell_section1_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c13}
								</tr>
	 
	 
														<tr {$row_section1_1} >
										

{BEGIN cellblock_section1_c17}
<td
	{$cell_section1_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN primer_apellido_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_primer_apellido}  r-vertical-field" data-fieldname="primer_apellido" data-signal-error-for="primer_apellido{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="primer_apellido" data-fieldname="primer_apellido" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_primer_apellido}">
		
		{BEGIN primer_apellido_label}{$label certificados_solicitud_tr_0 primer_apellido }{END primer_apellido_label}
	</label>
	<div class="" >
		{$primer_apellido_value}	</div>

		</div>
		
</div>


{END primer_apellido_fieldblock}
	
								</td>
			{END cellblock_section1_c17}
			 
																

{BEGIN cellblock_section1_c18}
<td
	{$cell_section1_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN segundo_apellido_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_segundo_apellido}  r-vertical-field" data-fieldname="segundo_apellido" data-signal-error-for="segundo_apellido{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="segundo_apellido" data-fieldname="segundo_apellido" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_segundo_apellido}">
		
		{BEGIN segundo_apellido_label}{$label certificados_solicitud_tr_0 segundo_apellido }{END segundo_apellido_label}
	</label>
	<div class="" >
		{$segundo_apellido_value}	</div>

		</div>
		
</div>


{END segundo_apellido_fieldblock}
	
								</td>
			{END cellblock_section1_c18}
								</tr>
	 
	 
														<tr {$row_section1_2} >
										

{BEGIN cellblock_section1_c15}
<td
	{$cell_section1_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN tipo_documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_documento}  r-vertical-field" data-fieldname="tipo_documento" data-signal-error-for="tipo_documento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="tipo_documento" data-fieldname="tipo_documento" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_tipo_documento}">
		
		{BEGIN tipo_documento_label}{$label certificados_solicitud_tr_0 tipo_documento }{END tipo_documento_label}
	</label>
	<div class="" >
		{$tipo_documento_value}	</div>

		</div>
		
</div>


{END tipo_documento_fieldblock}
	
								</td>
			{END cellblock_section1_c15}
			 
																

{BEGIN cellblock_section1_c16}
<td
	{$cell_section1_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN numero_documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_documento}  r-vertical-field" data-fieldname="numero_documento" data-signal-error-for="numero_documento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="numero_documento" data-fieldname="numero_documento" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_numero_documento}">
		
		{BEGIN numero_documento_label}{$label certificados_solicitud_tr_0 numero_documento }{END numero_documento_label}
	</label>
	<div class="" >
		{$numero_documento_value}	</div>

		</div>
		
</div>


{END numero_documento_fieldblock}
	
								</td>
			{END cellblock_section1_c16}
								</tr>
	 
	 
														<tr {$row_section1_3} >
										

{BEGIN cellblock_section1_c7}
<td
	{$cell_section1_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN direccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_direccion}  r-vertical-field" data-fieldname="direccion" data-signal-error-for="direccion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="direccion" data-fieldname="direccion" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_direccion}">
		
		{BEGIN direccion_label}{$label certificados_solicitud_tr_0 direccion }{END direccion_label}
	</label>
	<div class="" >
		{$direccion_value}	</div>

		</div>
		
</div>


{END direccion_fieldblock}
	
								</td>
			{END cellblock_section1_c7}
			 
																

{BEGIN cellblock_section1_c8}
<td
	{$cell_section1_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN telefono_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono}  r-vertical-field" data-fieldname="telefono" data-signal-error-for="telefono{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="telefono" data-fieldname="telefono" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_telefono}">
		
		{BEGIN telefono_label}{$label certificados_solicitud_tr_0 telefono }{END telefono_label}
	</label>
	<div class="" >
		{$telefono_value}	</div>

		</div>
		
</div>


{END telefono_fieldblock}
	
								</td>
			{END cellblock_section1_c8}
								</tr>
	 
	 
														<tr {$row_section1_4} >
										

{BEGIN cellblock_section1_c5}
<td
	{$cell_section1_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN departamento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_departamento}  r-vertical-field" data-fieldname="departamento" data-signal-error-for="departamento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="departamento" data-fieldname="departamento" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_departamento}">
		
		{BEGIN departamento_label}{$label certificados_solicitud_tr_0 departamento }{END departamento_label}
	</label>
	<div class="" >
		{$departamento_value}	</div>

		</div>
		
</div>


{END departamento_fieldblock}
	
								</td>
			{END cellblock_section1_c5}
			 
																

{BEGIN cellblock_section1_c6}
<td
	{$cell_section1_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN municipio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_municipio}  r-vertical-field" data-fieldname="municipio" data-signal-error-for="municipio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="municipio" data-fieldname="municipio" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_municipio}">
		
		{BEGIN municipio_label}{$label certificados_solicitud_tr_0 municipio }{END municipio_label}
	</label>
	<div class="" >
		{$municipio_value}	</div>

		</div>
		
</div>


{END municipio_fieldblock}
	
								</td>
			{END cellblock_section1_c6}
								</tr>
	 
	 
														<tr {$row_section1_5} >
										

{BEGIN cellblock_section1_c3}
<td
	{$cell_section1_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cargo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cargo}  r-vertical-field" data-fieldname="cargo" data-signal-error-for="cargo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="cargo" data-fieldname="cargo" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cargo}">
		
		{BEGIN cargo_label}{$label certificados_solicitud_tr_0 cargo }{END cargo_label}
	</label>
	<div class="" >
		{$cargo_value}	</div>

		</div>
		
</div>


{END cargo_fieldblock}
	
								</td>
			{END cellblock_section1_c3}
			 
		
							

{BEGIN cellblock_section1_c4}
<td
	{$cell_section1_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c4}
								</tr>
	 
	 
														<tr {$row_section1_6} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN email_contacto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email_contacto}  r-vertical-field" data-fieldname="email_contacto" data-signal-error-for="email_contacto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="email_contacto" data-fieldname="email_contacto" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_email_contacto}">
		
		{BEGIN email_contacto_label}{$label certificados_solicitud_tr_0 email_contacto }{END email_contacto_label}
	</label>
	<div class="" >
		{$email_contacto_value}	</div>

		</div>
		
</div>


{END email_contacto_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c2}
<td
	{$cell_section1_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN email_contacto_c_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email_contacto_c}  r-vertical-field" data-fieldname="email_contacto_c" data-signal-error-for="email_contacto_c{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="email_contacto_c" data-fieldname="email_contacto_c" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_email_contacto_c}">
		
		{BEGIN email_contacto_c_label}{$label certificados_solicitud_tr_0 email_contacto_c }{END email_contacto_c_label}
	</label>
	<div class="" >
		{$email_contacto_c_value}	</div>

		</div>
		
</div>


{END email_contacto_c_fieldblock}
	
								</td>
			{END cellblock_section1_c2}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_section1_c10}
<td
	{$cell_section1_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c10}
			 
		
							

{BEGIN cellblock_section1_c11}
<td
	{$cell_section1_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c11}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c}
			 
		
							

{BEGIN cellblock_section1_c9}
<td
	{$cell_section1_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c9}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c2}
<td
	{$cell_section2_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c2" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_cedula_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_cedula}  r-vertical-field" data-fieldname="doc_cedula" data-signal-error-for="doc_cedula{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="doc_cedula" data-fieldname="doc_cedula" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_cedula}">
		
		{BEGIN doc_cedula_label}{$label certificados_solicitud_tr_0 doc_cedula }{END doc_cedula_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_cedula_value}	</div>

		
</div>


{END doc_cedula_fieldblock}
	
								</td>
			{END cellblock_section2_c2}
								</tr>
	 
	 
														<tr {$row_section2_1} >
										

{BEGIN cellblock_section2_c7}
<td
	{$cell_section2_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c7" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_certificado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_certificado}  r-vertical-field" data-fieldname="doc_certificado" data-signal-error-for="doc_certificado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="doc_certificado" data-fieldname="doc_certificado" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_certificado}">
		
		{BEGIN doc_certificado_label}{$label certificados_solicitud_tr_0 doc_certificado }{END doc_certificado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_certificado_value}	</div>

		
</div>


{END doc_certificado_fieldblock}
	
								</td>
			{END cellblock_section2_c7}
								</tr>
	 
	 
														<tr {$row_section2_2} >
										

{BEGIN cellblock_section2_c5}
<td
	{$cell_section2_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c5" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_acta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_acta}  r-vertical-field" data-fieldname="doc_acta" data-signal-error-for="doc_acta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="doc_acta" data-fieldname="doc_acta" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_acta}">
		
		{BEGIN doc_acta_label}{$label certificados_solicitud_tr_0 doc_acta }{END doc_acta_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_acta_value}	</div>

		
</div>


{END doc_acta_fieldblock}
	
								</td>
			{END cellblock_section2_c5}
								</tr>
	 
	 
														<tr {$row_section2_3} >
										

{BEGIN cellblock_section2_c}
<td
	{$cell_section2_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_escritura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_escritura}  r-vertical-field" data-fieldname="doc_escritura" data-signal-error-for="doc_escritura{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="doc_escritura" data-fieldname="doc_escritura" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_escritura}">
		
		{BEGIN doc_escritura_label}{$label certificados_solicitud_tr_0 doc_escritura }{END doc_escritura_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_escritura_value}	</div>

		
</div>


{END doc_escritura_fieldblock}
	
								</td>
			{END cellblock_section2_c}
								</tr>
	 
	 
														<tr {$row_section2_4} >
										

{BEGIN cellblock_section2_c13}
<td
	{$cell_section2_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c13" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_poder_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_poder}  r-vertical-field" data-fieldname="doc_poder" data-signal-error-for="doc_poder{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="doc_poder" data-fieldname="doc_poder" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_poder}">
		
		{BEGIN doc_poder_label}{$label certificados_solicitud_tr_0 doc_poder }{END doc_poder_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_poder_value}	</div>

		
</div>


{END doc_poder_fieldblock}
	
								</td>
			{END cellblock_section2_c13}
								</tr>
	 
	 
														<tr {$row_section2_5} >
										

{BEGIN cellblock_section2_c11}
<td
	{$cell_section2_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c11" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_carta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_carta}  r-vertical-field" data-fieldname="doc_carta" data-signal-error-for="doc_carta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="doc_carta" data-fieldname="doc_carta" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_carta}">
		
		{BEGIN doc_carta_label}{$label certificados_solicitud_tr_0 doc_carta }{END doc_carta_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_carta_value}	</div>

		
</div>


{END doc_carta_fieldblock}
	
								</td>
			{END cellblock_section2_c11}
								</tr>
	 
	 
														<tr {$row_section2_6} >
										

{BEGIN cellblock_section2_c9}
<td
	{$cell_section2_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c9" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN doc_rut_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_rut}  r-vertical-field" data-fieldname="doc_rut" data-signal-error-for="doc_rut{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="doc_rut" data-fieldname="doc_rut" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_doc_rut}">
		
		{BEGIN doc_rut_label}{$label certificados_solicitud_tr_0 doc_rut }{END doc_rut_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$doc_rut_value}	</div>

		
</div>


{END doc_rut_fieldblock}
	
								</td>
			{END cellblock_section2_c9}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="small" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section3_0} >
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN stage_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stage}  r-vertical-field" data-fieldname="stage" data-signal-error-for="stage{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="stage" data-fieldname="stage" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_stage}">
		
		{BEGIN stage_label}{$label certificados_solicitud_tr_0 stage }{END stage_label}
	</label>
	<div class="" >
		{$stage_value}	</div>

		</div>
		
</div>


{END stage_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
			 
		
							

{BEGIN cellblock_section3_c4}
<td
	{$cell_section3_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c4}
								</tr>
	 
	 
														<tr {$row_section3_1} >
										

{BEGIN cellblock_section3_c3}
<td
	{$cell_section3_c3}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="section3_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN track_msj_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_track_msj}  r-vertical-field" data-fieldname="track_msj" data-signal-error-for="track_msj{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="track_msj" data-fieldname="track_msj" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_track_msj}">
		
		{BEGIN track_msj_label}{$label certificados_solicitud_tr_0 track_msj }{END track_msj_label}
	</label>
	<div class="" >
		{$track_msj_value}	</div>

		</div>
		
</div>


{END track_msj_fieldblock}
	
								</td>
			{END cellblock_section3_c3}
								</tr>
	 
	 
														<tr {$row_section3_2} >
										

{BEGIN cellblock_section3_c2}
<td
	{$cell_section3_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN track_usr_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_track_usr}  r-vertical-field" data-fieldname="track_usr" data-signal-error-for="track_usr{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="track_usr" data-fieldname="track_usr" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_track_usr}">
		
		{BEGIN track_usr_label}{$label certificados_solicitud_tr_0 track_usr }{END track_usr_label}
	</label>
	<div class="" >
		{$track_usr_value}	</div>

		</div>
		
</div>


{END track_usr_fieldblock}
	
								</td>
			{END cellblock_section3_c2}
			 
																

{BEGIN cellblock_section3_c6}
<td
	{$cell_section3_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN track_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_track_date}  r-vertical-field" data-fieldname="track_date" data-signal-error-for="track_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="track_date" data-fieldname="track_date" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_track_date}">
		
		{BEGIN track_date_label}{$label certificados_solicitud_tr_0 track_date }{END track_date_label}
	</label>
	<div class="" >
		{$track_date_value}	</div>

		</div>
		
</div>


{END track_date_fieldblock}
	
								</td>
			{END cellblock_section3_c6}
								</tr>
			</tbody></table>
{END section3_block}
						</div>
				</div>
	</div>
</div>  	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
									Ver | Editar			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="certificados_solicitud_tr_0_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
					<span class="fa fa-pencil-square"></span>
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
