<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel mail_messages search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label mail_messages id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN created_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="created" data-fieldname="created" >


	<label class="r-search-label control-label" for="{$labelfor_created}">
		{$label mail_messages created }	</label>
	<div class="r-search-option">
		{$searchtype_created}
	</div>
	<div class="r-search-field">
		{$created_editcontrol}	</div>
	<div class="r-search-field">
		{$created_editcontrol1}
	</div>
	
</div>

{END created_fieldblock}
											
{BEGIN body_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_body}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="body{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="body" data-fieldname="body" >


	<label class="r-search-label control-label" for="{$labelfor_body}">
		{$label mail_messages body }	</label>
	<div class="r-search-option">
		{$searchtype_body}
	</div>
	<div class="r-search-field">
		{$body_editcontrol}	</div>
	<div class="r-search-field">
		{$body_editcontrol1}
	</div>
	
</div>

{END body_fieldblock}
											
{BEGIN to_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_to_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="to_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="to_email" data-fieldname="to_email" >


	<label class="r-search-label control-label" for="{$labelfor_to_email}">
		{$label mail_messages to_email }	</label>
	<div class="r-search-option">
		{$searchtype_to_email}
	</div>
	<div class="r-search-field">
		{$to_email_editcontrol}	</div>
	<div class="r-search-field">
		{$to_email_editcontrol1}
	</div>
	
</div>

{END to_email_fieldblock}
											
{BEGIN subject_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_subject}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="subject{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="subject" data-fieldname="subject" >


	<label class="r-search-label control-label" for="{$labelfor_subject}">
		{$label mail_messages subject }	</label>
	<div class="r-search-option">
		{$searchtype_subject}
	</div>
	<div class="r-search-field">
		{$subject_editcontrol}	</div>
	<div class="r-search-field">
		{$subject_editcontrol1}
	</div>
	
</div>

{END subject_fieldblock}
											
{BEGIN message_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_message_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="message_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="message_id" data-fieldname="message_id" >


	<label class="r-search-label control-label" for="{$labelfor_message_id}">
		{$label mail_messages message_id }	</label>
	<div class="r-search-option">
		{$searchtype_message_id}
	</div>
	<div class="r-search-field">
		{$message_id_editcontrol}	</div>
	<div class="r-search-field">
		{$message_id_editcontrol1}
	</div>
	
</div>

{END message_id_fieldblock}
											
{BEGIN maildate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_maildate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="maildate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="maildate" data-fieldname="maildate" >


	<label class="r-search-label control-label" for="{$labelfor_maildate}">
		{$label mail_messages maildate }	</label>
	<div class="r-search-option">
		{$searchtype_maildate}
	</div>
	<div class="r-search-field">
		{$maildate_editcontrol}	</div>
	<div class="r-search-field">
		{$maildate_editcontrol1}
	</div>
	
</div>

{END maildate_fieldblock}
											
{BEGIN from_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_from_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="from_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="from_email" data-fieldname="from_email" >


	<label class="r-search-label control-label" for="{$labelfor_from_email}">
		{$label mail_messages from_email }	</label>
	<div class="r-search-option">
		{$searchtype_from_email}
	</div>
	<div class="r-search-field">
		{$from_email_editcontrol}	</div>
	<div class="r-search-field">
		{$from_email_editcontrol1}
	</div>
	
</div>

{END from_email_fieldblock}
											
{BEGIN to_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_to_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="to_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="to_name" data-fieldname="to_name" >


	<label class="r-search-label control-label" for="{$labelfor_to_name}">
		{$label mail_messages to_name }	</label>
	<div class="r-search-option">
		{$searchtype_to_name}
	</div>
	<div class="r-search-field">
		{$to_name_editcontrol}	</div>
	<div class="r-search-field">
		{$to_name_editcontrol1}
	</div>
	
</div>

{END to_name_fieldblock}
											
{BEGIN from_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_from_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="from_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="from_name" data-fieldname="from_name" >


	<label class="r-search-label control-label" for="{$labelfor_from_name}">
		{$label mail_messages from_name }	</label>
	<div class="r-search-option">
		{$searchtype_from_name}
	</div>
	<div class="r-search-field">
		{$from_name_editcontrol}	</div>
	<div class="r-search-field">
		{$from_name_editcontrol1}
	</div>
	
</div>

{END from_name_fieldblock}
											
{BEGIN attachment_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attachment}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attachment{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="attachment" data-fieldname="attachment" >


	<label class="r-search-label control-label" for="{$labelfor_attachment}">
		{$label mail_messages attachment }	</label>
	<div class="r-search-option">
		{$searchtype_attachment}
	</div>
	<div class="r-search-field">
		{$attachment_editcontrol}	</div>
	<div class="r-search-field">
		{$attachment_editcontrol1}
	</div>
	
</div>

{END attachment_fieldblock}
											
{BEGIN cc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="cc" data-fieldname="cc" >


	<label class="r-search-label control-label" for="{$labelfor_cc}">
		{$label mail_messages cc }	</label>
	<div class="r-search-option">
		{$searchtype_cc}
	</div>
	<div class="r-search-field">
		{$cc_editcontrol}	</div>
	<div class="r-search-field">
		{$cc_editcontrol1}
	</div>
	
</div>

{END cc_fieldblock}
											
{BEGIN bcc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bcc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bcc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="bcc" data-fieldname="bcc" >


	<label class="r-search-label control-label" for="{$labelfor_bcc}">
		{$label mail_messages bcc }	</label>
	<div class="r-search-option">
		{$searchtype_bcc}
	</div>
	<div class="r-search-field">
		{$bcc_editcontrol}	</div>
	<div class="r-search-field">
		{$bcc_editcontrol1}
	</div>
	
</div>

{END bcc_fieldblock}
											
{BEGIN server_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_server_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="server_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="server_id" data-fieldname="server_id" >


	<label class="r-search-label control-label" for="{$labelfor_server_id}">
		{$label mail_messages server_id }	</label>
	<div class="r-search-option">
		{$searchtype_server_id}
	</div>
	<div class="r-search-field">
		{$server_id_editcontrol}	</div>
	<div class="r-search-field">
		{$server_id_editcontrol1}
	</div>
	
</div>

{END server_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
